* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav .nav__container {
  position: fixed;
  background-color: #5c6362;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100000;
  font-family: "Lexend Giga", sans-serif;
  padding: 5px;
  padding-left: 190px;
  padding-right: 130px;
}
nav .nav__container .logo_nav {
  max-width: 150px;
}
nav .nav__container ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .nav__container ul li {
  list-style-type: none;
  padding: 10px;
}
nav .nav__container ul li span {
  color: #F59D72;
}
nav .nav__container ul li .login_button {
  background-color: #F59D72;
  border-radius: 60px;
  padding: 6px 35px;
  border: 2px solid transparent;
}
nav .nav__container ul li .login_button:hover {
  border: 2px solid #F59D72;
  background-color: #5c6362;
  color: #fff;
}
nav .nav__container ul a {
  padding-left: 25px;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 15px;
}
nav .nav__container ul a:hover {
  color: #F59D72;
}

.banner {
  background-image: url("../assets/mockup_background.png");
  background-size: cover;
  width: 100%;
  height: 150%;
  background-repeat: no-repeat;
  background-position: bottom;
  position: relative;
}

header {
  background-color: #56605E;
}
header h1 {
  font-family: "Candal", sans-serif;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #fff;
  position: relative;
  bottom: 80px;
}
header .header_between {
  font-family: "Krona One", sans-serif;
  display: flex;
  justify-content: center;
  color: #fff;
  position: relative;
  bottom: 45px;
}
header h3 {
  padding-right: 50px;
  align-items: center;
  display: flex;
}
header .shop_button {
  background-color: #2FA293;
  border-radius: 60px;
  padding: 15px 45px;
  border: 2px solid transparent;
  font-size: 19px;
  text-decoration: none;
  color: #fff;
}
header .shop_button:hover {
  border: 2px solid #2FA293;
  background-color: #56605E;
  cursor: pointer;
}

.tussenstuk {
  background-color: #000;
  height: 320px;
  width: 100%;
  color: #fff;
  font-family: "Krona One", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.tussenstuk h2 {
  padding-top: 50px;
  padding-bottom: 30px;
  font-size: 26px;
}
.tussenstuk span {
  color: #F59D72;
}
.tussenstuk p {
  font-size: 18px;
}

.spotlights {
  font-family: "Krona One", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 900px;
}
.spotlights h1 {
  font-family: "Candal", sans-serif;
  font-size: 50px;
  padding-bottom: 30px;
  padding-top: 80px;
}
.spotlights p {
  font-size: 18px;
}
.spotlights .fotos {
  padding-top: 70px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.spotlights img {
  width: 270px;
  align-content: center;
  margin-top: 10px; /* Margin on the top */
  margin-right: 90px; /* Margin on the right */
  margin-bottom: 10px; /* Margin on the bottom */
  margin-left: 90px; /* Margin on the left */
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.spotlights img:hover {
  cursor: pointer;
}
.spotlights .spotlight1, .spotlights .spotlight2, .spotlights .spotlight3 {
  font-family: "Krona One", sans-serif;
  justify-content: center;
  align-items: center;
}
.spotlights .spotlight1 h3, .spotlights .spotlight2 h3, .spotlights .spotlight3 h3 {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.spotlights .spotlight1 p, .spotlights .spotlight2 p, .spotlights .spotlight3 p {
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  padding-top: 15px;
}

.posterrover_littleTekst {
  height: 380px;
  background-color: #ECECEC;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Krona One", sans-serif;
}
.posterrover_littleTekst p {
  font-size: 25px;
  padding-bottom: 8px;
}

.banner2 {
  width: 100%;
  height: 100%;
  background-image: url("../assets/background_website.png");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.banner2 img {
  width: 100%;
  height: 100%;
  opacity: 90%;
}
.banner2 h1 {
  font-family: "Candal", sans-serif;
  font-size: 50px;
  color: #fff;
  font-size: 75px;
  padding-bottom: 70px;
}
.banner2 .browse_button {
  background-color: #fff;
  border-radius: 60px;
  padding: 15px 65px;
  border: 2px solid transparent;
  font-size: 19px;
  text-decoration: none;
  font-family: "Krona One", sans-serif;
  color: #000;
}
.banner2 .browse_button a {
  color: #000;
  font-size: 15px;
}
.banner2 .browse_button:hover {
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}

/* Media query for navbar */
@media screen and (max-width: 768px) {
  nav .nav__container {
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .logo_nav {
    max-width: 100%;
  }
  ul {
    flex-direction: column;
    align-items: center;
  }
  ul li {
    padding: 10px 0; /* Adjust padding for smaller screens */
  }
}
/* Media query for banner */
@media (max-width: 768px) {
  .banner {
    height: 100%;
  }
}
/* Media query for header */
@media (max-width: 768px) {
  h1 {
    font-size: 24px;
    bottom: 40px;
  }
  .header_between {
    bottom: 20px;
  }
  .header_between h3 {
    padding-right: 20px;
  }
  .shop_button {
    padding: 10px 30px;
  }
}
/* Media query for tussenstuk */
@media (max-width: 768px) {
  .tussenstuk h2 {
    font-size: 22px;
  }
  .tussenstuk p {
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  h2 {
    font-size: 18px;
  }
  p {
    font-size: 14px;
  }
}
/* Media query for spotlights */
@media (max-width: 768px) {
  .spotlights {
    height: 1900px;
  }
  h1 {
    font-size: 24px;
    justify-content: center;
  }
  p {
    font-size: 16px;
  }
  .fotos {
    flex-direction: column;
  }
  .fotos img {
    width: 250px;
    margin: 25px;
  }
  .spotlight1 h3, .spotlight2 h3, .spotlight3 h3 {
    padding-top: 10px;
  }
  .spotlight1 p, .spotlight2 p, .spotlight3 p {
    font-size: 14px;
    padding-top: 10px;
  }
}
/* Media query for tussenstuk2 */
@media (max-width: 768px) {
  .posterrover_littleTekst p {
    font-size: 20px;
    padding-bottom: 10px;
  }
}
@media (max-width: 768px) and (max-width: 480px) {
  p {
    font-size: 18px;
    padding-bottom: 6px;
  }
}
@media (max-width: 768px) {
  .banner2 h1 {
    font-size: 8vw;
  }
  .banner2 .browse_button {
    font-size: 3vw;
  }
}
section {
  padding-bottom: 80px;
}
section .heading_shop {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 150px;
}
section .heading_shop h1 {
  font-family: "Candal", sans-serif;
  font-size: 50px;
  padding-bottom: 25px;
}
section .heading_shop p {
  font-family: "Krona One", sans-serif;
  font-size: 18px;
}
section .buttons .collections {
  font-family: "Krona One", sans-serif;
  font-size: 30px;
  padding-top: 100px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
section .buttons .all_buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
}
section .buttons .bt-1, section .buttons .bt-2, section .buttons .bt-3, section .buttons .bt-4 {
  font-family: "Krona One", sans-serif;
  font-size: 20px;
  margin: 20px;
}
section .buttons input[type=radio] {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  appearance: none;
  -webkit-appearance: none;
  vertical-align: top;
}
section .buttons input[type=radio]::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #000;
  margin-right: 5px;
}
section .buttons input[type=radio]:checked::before {
  background-color: #000;
}
section .buttons .buttons1:hover, section .buttons .buttons2:hover, section .buttons .buttons3:hover, section .buttons .buttons4:hover {
  cursor: pointer;
}

section .fotos {
  padding-top: 70px;
  padding-bottom: 60px;
  justify-content: center;
  align-items: center;
  display: flex;
}
section img {
  width: 270px;
  align-content: center;
  margin-top: 10px; /* Margin on the top */
  margin-right: 90px; /* Margin on the right */
  margin-bottom: 10px; /* Margin on the bottom */
  margin-left: 90px; /* Margin on the left */
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
section img:hover {
  cursor: pointer;
}
section .spotlight1, section .spotlight2, section .spotlight3 {
  font-family: "Krona One", sans-serif;
  justify-content: center;
  align-items: center;
}
section .spotlight1 h3, section .spotlight2 h3, section .spotlight3 h3 {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
section .spotlight1 p, section .spotlight2 p, section .spotlight3 p {
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  padding-top: 15px;
}

/*# sourceMappingURL=main.css.map */
