* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav .nav__container {
  position: fixed;
  background-color: #5c6362;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100000;
  font-family: "Lexend Giga", sans-serif;
  padding: 5px;
  padding-left: 190px;
  padding-right: 130px;
}
nav .nav__container .logo_nav {
  max-width: 150px;
}
nav .nav__container ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .nav__container ul li {
  list-style-type: none;
  padding: 10px;
}
nav .nav__container ul li span {
  color: #000000;
}
nav .nav__container ul li .login_button {
  border-radius: 60px;
  padding: 6px 35px;
  border: 2px solid transparent;
  transition: 0.3s ease;
}
nav .nav__container ul li .login_button:hover {
  border: 2px solid #ffffff;
  background-color: #5c6362;
  color: #fff;
}
nav .nav__container ul a {
  padding-left: 25px;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  transition: 0.3s ease;
}
nav .nav__container ul a:hover {
  color: #000000;
}

.banner {
  background-image: url("../assets/mockup_home.png");
  background-size: cover;
  width: 100%;
  height: 150%;
  background-repeat: no-repeat;
  background-position: bottom;
  position: relative;
}

header {
  background-color: #56605E;
}
header h1 {
  font-family: "Candal", sans-serif;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #fff;
  position: relative;
  bottom: 80px;
}
header .header_between {
  font-family: "Krona One", sans-serif;
  display: flex;
  justify-content: center;
  color: #fff;
  position: relative;
  bottom: 45px;
}
header h3 {
  padding-right: 50px;
  align-items: center;
  display: flex;
}
header .shop_button {
  background-color: #2FA293;
  border-radius: 60px;
  padding: 10px 50px;
  border: 2px solid transparent;
  font-size: 19px;
  text-decoration: none;
  color: #fff;
}
header .shop_button:hover {
  border: 2px solid #2FA293;
  background-color: #56605E;
  cursor: pointer;
  transition: 0.3s ease;
}

.tussenstuk {
  background-color: #000;
  height: 320px;
  width: 100%;
  color: #fff;
  font-family: "Krona One", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.tussenstuk h2 {
  padding-top: 50px;
  padding-bottom: 30px;
  font-size: 26px;
}
.tussenstuk span {
  color: #F59D72;
}
.tussenstuk p {
  font-size: 18px;
}

.spotlights {
  font-family: "Krona One", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 900px;
}
.spotlights h1 {
  font-family: "Candal", sans-serif;
  font-size: 50px;
  padding-bottom: 30px;
  padding-top: 80px;
}
.spotlights .popular {
  font-size: 18px;
}
.spotlights .fotos {
  padding-top: 70px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.spotlights .picture {
  width: 270px;
  align-content: center;
  margin-top: 10px; /* Margin on the top */
  margin-right: 90px; /* Margin on the right */
  margin-bottom: 10px; /* Margin on the bottom */
  margin-left: 90px; /* Margin on the left */
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.spotlights .picture:hover {
  cursor: pointer;
}
.spotlights .spotlight1, .spotlights .spotlight2, .spotlights .spotlight3 {
  font-family: "Krona One", sans-serif;
  justify-content: center;
  align-items: center;
}
.spotlights .spotlight1 h3, .spotlights .spotlight2 h3, .spotlights .spotlight3 h3 {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.spotlights .spotlight1 p, .spotlights .spotlight2 p, .spotlights .spotlight3 p {
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  padding-top: 15px;
}

.posterrover_littleTekst {
  height: 380px;
  background-color: #ECECEC;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Krona One", sans-serif;
}
.posterrover_littleTekst p {
  font-size: 25px;
  padding-bottom: 8px;
}

.banner2 {
  width: 100%;
  height: 100%;
  background-image: url("../assets/background_website.png");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.banner2 img {
  width: 100%;
  height: 100%;
  opacity: 90%;
}
.banner2 h1 {
  font-family: "Candal", sans-serif;
  font-size: 50px;
  color: #fff;
  font-size: 75px;
  padding-bottom: 70px;
}
.banner2 .browse_button {
  background-color: #fff;
  border-radius: 60px;
  padding: 15px 65px;
  border: 2px solid transparent;
  font-size: 19px;
  text-decoration: none;
  font-family: "Krona One", sans-serif;
  color: #000;
}
.banner2 .browse_button a {
  color: #000;
  font-size: 15px;
}
.banner2 .browse_button:hover {
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  transition: 0.2s ease;
}

/* Media query for navbar */
@media screen and (max-width: 768px) {
  nav .nav__container {
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-left: 130px;
    justify-content: center;
  }
  .logo_nav {
    max-width: 100%;
  }
  ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  ul li {
    justify-content: center;
  }
  ul li .login_button {
    justify-content: center;
  }
}
/* Media query for banner */
@media (max-width: 768px) {
  .banner {
    height: 100%;
  }
}
/* Media query for header */
@media (max-width: 768px) {
  header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  header h1 {
    font-size: 24px;
    bottom: 40px;
    display: flex;
    justify-content: center;
  }
  header .header_between {
    bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  header .header_between h3 {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
  }
  header .shop_button {
    padding: 10px 30px;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 480px) {
  header h1 {
    font-size: 18px;
    bottom: 40px;
    display: flex;
    justify-content: center;
  }
  header .header_between h3 {
    font-size: 15px;
    justify-content: center;
    display: flex;
    padding: 0;
    padding-bottom: 15px;
  }
}
/* Media query for tussenstuk */
@media (max-width: 768px) {
  .tussenstuk h2 {
    font-size: 20px;
    display: flex;
    justify-content: center;
  }
  .tussenstuk p {
    font-size: 16px;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 480px) {
  .tussenstuk h2 {
    font-size: 15px;
  }
  .tussenstuk p {
    font-size: 12px;
  }
}
/* Media query for spotlights */
@media (max-width: 900px) {
  .spotlights {
    height: 1500px;
    width: 100%;
  }
  .spotlights .fotos {
    padding: 0;
  }
  .spotlights h1 {
    font-size: 26px;
    display: flex;
    justify-content: center;
  }
  .spotlights img {
    width: 100%;
  }
  .picture {
    width: 200px;
  }
}
.popular {
  font-size: 16px;
  margin-bottom: 45px;
}

.spotlight1, .spotlight2, .spotlight3 {
  width: 100%;
}
.spotlight1 h3, .spotlight2 h3, .spotlight3 h3 {
  padding-top: 10px;
}
.spotlight1 p, .spotlight2 p, .spotlight3 p {
  font-size: 14px;
  padding-top: 10px;
}

/* Media query for tussenstuk2 */
@media (max-width: 890px) {
  .posterrover_littleTekst p {
    font-size: 16px;
    padding-bottom: 10px;
  }
}
@media (max-width: 890px) and (max-width: 480px) {
  .posterrover_littleTekst {
    height: 330px;
  }
  .posterrover_littleTekst p {
    font-size: 14px;
    padding-bottom: 6px;
  }
}
@media (max-width: 768px) {
  .banner2 h1 {
    font-size: 8vw;
  }
  .banner2 .browse_button {
    font-size: 3vw;
  }
}
section {
  padding-bottom: 80px;
}
section .heading_shop {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 150px;
}
section .heading_shop h1 {
  font-family: "Candal", sans-serif;
  font-size: 50px;
  padding-bottom: 25px;
}
section .heading_shop p {
  font-family: "Krona One", sans-serif;
  font-size: 18px;
}
section .buttons .collections {
  font-family: "Krona One", sans-serif;
  font-size: 30px;
  padding-top: 100px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
section .buttons .all_buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
}
section .buttons .bt-1, section .buttons .bt-2, section .buttons .bt-3, section .buttons .bt-4 {
  font-family: "Krona One", sans-serif;
  font-size: 20px;
  margin: 20px;
}
section .buttons input[type=radio] {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  appearance: none;
  -webkit-appearance: none;
  vertical-align: top;
}
section .buttons input[type=radio]::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #000;
  margin-right: 5px;
}
section .buttons input[type=radio]:checked::before {
  background-color: #000;
}
section .buttons .buttons1:hover, section .buttons .buttons2:hover, section .buttons .buttons3:hover, section .buttons .buttons4:hover {
  cursor: pointer;
}

section .fotos {
  justify-content: center;
  align-items: center;
  display: flex;
}
section .picture {
  width: 270px;
  align-content: center;
  margin-top: 10px; /* Margin on the top */
  margin-right: 90px; /* Margin on the right */
  margin-bottom: 10px; /* Margin on the bottom */
  margin-left: 90px; /* Margin on the left */
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
section .spotlight1, section .spotlight2, section .spotlight3 {
  font-family: "Krona One", sans-serif;
  justify-content: center;
  align-items: center;
}
section .spotlight1:hover, section .spotlight2:hover, section .spotlight3:hover {
  cursor: pointer;
}
section .spotlight1 h3, section .spotlight2 h3, section .spotlight3 h3 {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
section .spotlight1 p, section .spotlight2 p, section .spotlight3 p {
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  padding-top: 15px;
}

@media (max-width: 768px) {
  .heading_posters {
    padding-bottom: 40px;
  }
  .heading_posters .buttons input[type=radio] {
    width: 15px;
    height: 15px;
  }
  .heading_posters .buttons input[type=radio]::before {
    width: 15px;
    height: 15px;
  }
  .heading_posters .buttons .collections {
    font-size: 25px;
    padding-top: 30px;
  }
  .heading_posters .buttons .all_buttons {
    display: flex;
    flex-direction: column;
  }
  .heading_posters .buttons .bt-1, .heading_posters .buttons .bt-2, .heading_posters .buttons .bt-3, .heading_posters .buttons .bt-4 {
    align-items: start;
    display: flex;
  }
  .heading_posters .buttons .bt-1 .buttons1, .heading_posters .buttons .bt-1 .buttons2, .heading_posters .buttons .bt-1 .buttons3, .heading_posters .buttons .bt-1 .buttons4, .heading_posters .buttons .bt-2 .buttons1, .heading_posters .buttons .bt-2 .buttons2, .heading_posters .buttons .bt-2 .buttons3, .heading_posters .buttons .bt-2 .buttons4, .heading_posters .buttons .bt-3 .buttons1, .heading_posters .buttons .bt-3 .buttons2, .heading_posters .buttons .bt-3 .buttons3, .heading_posters .buttons .bt-3 .buttons4, .heading_posters .buttons .bt-4 .buttons1, .heading_posters .buttons .bt-4 .buttons2, .heading_posters .buttons .bt-4 .buttons3, .heading_posters .buttons .bt-4 .buttons4 {
    font-size: 15px;
  }
  .heading_posters .heading_shop {
    padding-top: 100px;
  }
  .heading_posters .heading_shop h1 {
    font-size: 40px;
  }
  .heading_posters .heading_shop p {
    font-size: 13px;
  }
}
@media (max-width: 768px) and (max-width: 900px) {
  .heading_posters section .fotos {
    flex-direction: column;
    width: 100%;
    padding: 0;
  }
}
#prodetails .single-pro-imgage {
  width: 380px;
}
#prodetails .single-pro-imgage .small-img-group {
  display: flex;
  justify-content: space-between;
}
#prodetails .single-pro-imgage .small-img-col {
  flex-basis: 24%;
  cursor: pointer;
  padding-top: 10px;
}

#mainImg {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

#prodetails, .section-pt1 {
  display: flex;
  padding-top: 150px;
  justify-content: center;
  padding-left: 100px;
}
#prodetails .head_price, .section-pt1 .head_price {
  font-family: "Candal", sans-serif;
  font-size: 50px;
}
#prodetails .single-pro-details, .section-pt1 .single-pro-details {
  width: 50%;
  padding: 80px;
  padding-bottom: 50px;
}
#prodetails .single-pro-details select, .section-pt1 .single-pro-details select {
  display: block;
  padding: 8px 10px;
  margin-bottom: 20px;
  border: 2px solid #000;
  border-radius: 50px;
}
#prodetails .single-pro-details input, .section-pt1 .single-pro-details input {
  width: 50px;
  height: 47px;
  padding-left: 18px;
  font-size: 16px;
  margin-right: 20px;
  border-left: none;
  border-right: none;
  border-top: none;
}
#prodetails .single-pro-details select:focus, .section-pt1 .single-pro-details select:focus {
  outline: none;
}
#prodetails .single-pro-details input:focus, .section-pt1 .single-pro-details input:focus {
  outline: none;
}
#prodetails .add_button, .section-pt1 .add_button {
  background-color: #000000;
  border-radius: 60px;
  padding: 10px 70px;
  border: 2px solid transparent;
  font-size: 19px;
  text-decoration: none;
  color: #fff;
}
#prodetails .add_button:hover, .section-pt1 .add_button:hover {
  border: 2px solid #000000;
  background-color: #ffffff;
  color: #000;
  cursor: pointer;
  transition: 0.2s ease;
}
#prodetails .p_price, .section-pt1 .p_price {
  font-family: "Krona One", sans-serif;
  font-size: 20px;
  padding-top: 15px;
}
#prodetails .shipping, .section-pt1 .shipping {
  font-family: "Roboto", sans-serif;
  padding-top: 10px;
  font-size: 14px;
  padding-bottom: 40px;
}
#prodetails .size, .section-pt1 .size {
  font-family: "Krona One", sans-serif;
  padding-bottom: 15px;
}
#prodetails .prodetails, .section-pt1 .prodetails {
  font-family: "Krona One", sans-serif;
  font-size: 20px;
  padding-top: 70px;
  padding-bottom: 10px;
}
#prodetails .product_tekst, .section-pt1 .product_tekst {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 25px;
}

.fotooverzicht .f-pro {
  font-family: "Candal", sans-serif;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 50px;
}
.fotooverzicht .f-under {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Krona One", sans-serif;
  font-size: 16px;
}

@media (max-width: 477px) {
  #prodetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  #prodetails .single-pro-imgage {
    width: 100%;
  }
  #prodetails .single-pro-details {
    padding: 0;
  }
}
@media screen and (max-width: 905px) {
  #prodetails .add_button, .section-pt1 .add_button {
    padding: 10px 40px;
    font-size: 15px;
  }
}
@media screen and (max-width: 900px) {
  #prodetails, .section-pt1 {
    flex-direction: column;
    justify-content: center;
    display: flex;
    width: 100%;
    padding: 0;
  }
  #prodetails .single-pro-details, .section-pt1 .single-pro-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 15px;
  }
  #prodetails .single-pro-imgage, .section-pt1 .single-pro-imgage {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    padding-top: 100px;
    margin: 0 auto;
  }
  #prodetails .head_price, .section-pt1 .head_price {
    font-family: "Candal", sans-serif;
    font-size: 40px;
    padding-top: 50px;
    justify-content: center;
    display: flex;
  }
  #prodetails .p_price, .section-pt1 .p_price {
    justify-content: center;
    display: flex;
    font-size: 16px;
  }
  #prodetails .size, .section-pt1 .size {
    justify-content: center;
    display: flex;
    font-size: 18px;
  }
  #prodetails .shipping, .section-pt1 .shipping {
    justify-content: center;
    display: flex;
    font-size: 12px;
  }
  #prodetails .single-pro-details input, .section-pt1 .single-pro-details input {
    width: 50px;
    height: 47px;
    margin: 20px;
  }
  #prodetails .single-pro-details select, .section-pt1 .single-pro-details select {
    margin: 0;
  }
  #prodetails .prodetails, .section-pt1 .prodetails {
    font-family: "Krona One", sans-serif;
    font-size: 17px;
    margin-bottom: 10px;
    justify-content: center;
    display: flex;
  }
}
@media screen and (max-width: 380px) {
  #prodetails .single-pro-imgage, .section-pt1 .single-pro-imgage {
    width: 300px;
  }
}
@media (max-width: 768px) {
  .fotooverzicht .f-pro {
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding-top: 20px;
  }
}
@media (max-width: 900px) {
  .fotos {
    flex-direction: column;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
  }
  .fotos img {
    width: 100%;
  }
  .fotos .picture {
    width: 200px;
    margin: 0;
  }
  .spotlight1, .spotlight2, .spotlight3 {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .spotlight1 h3, .spotlight2 h3, .spotlight3 h3 {
    padding-top: 10px;
  }
}

/*# sourceMappingURL=main.css.map */
