@use 'base' as *;

section {
    padding-bottom: 80px;
.heading_shop {
        @include flexLayout ();
        flex-direction: column;
        padding-top: 150px;
        h1 {
            font-family: $font-candal;
            font-size: 50px;
            padding-bottom: 25px;
        }
        p {
            font-family: $font-krona;
            font-size: 18px;
        }
    }
.buttons {
    .collections {
        font-family: $font-krona;
        font-size: 30px;
        padding-top: 100px;
        padding-bottom: 20px;
        @include flexLayout ();
    }
    .all_buttons {
        @include flexLayout ();
        display: flex;
    }
    .bt-1, .bt-2, .bt-3, .bt-4 {
        font-family: $font-krona;
        font-size: 20px;
        margin: 20px;
    }
    input[type="radio"] {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        appearance: none;
        -webkit-appearance: none;
        vertical-align: top;
      }
      
      input[type="radio"]::before {
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
        border: 2px solid #000;
        margin-right: 5px;
      }
      
      input[type="radio"]:checked::before {
        background-color: #000; 
      }
      .buttons1, .buttons2, .buttons3, .buttons4 {
        &:hover {
            cursor: pointer;
        }
      }
}
}
section {
.fotos {
    padding-top: 70px;
    padding-bottom: 60px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.picture {
    width: 270px;
    align-content: center;
    margin-top: 10px; /* Margin on the top */
    margin-right: 90px; /* Margin on the right */
    margin-bottom: 10px; /* Margin on the bottom */
    margin-left: 90px; /* Margin on the left */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.spotlight1, .spotlight2, .spotlight3 {
    font-family: $font-krona;
    justify-content: center;
    align-items: center;
    &:hover {
        cursor: pointer;
    }
    h3 {
        padding-top: 20px;
        @include flexLayout();
    }
    p {
        font-family: $font-roboto;
        @include flexLayout();
        font-size: 15px;
        padding-top: 15px;
    }
}
}

